
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<a href="c:\project\dreamday\views\admin\dashboard.cshtml">c:\project\dreamday\views\admin\dashboard.cshtml</a>