@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/adminLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-md-2 h-100 sidebar">
                <div class="position-sticky d-flex flex-column flex-shrink-0 p-2 text-bg-dark h-100">
                    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="fs-4">DreamDay</span>
                    </a>
                    <hr>
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Admin" asp-action="Dashboard">
                                <i class="bi bi-speedometer2 me-2"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#vendorSubmenu" aria-expanded="false">
                                <span><i class="bi bi-shop me-2"></i> Vendor</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul class="collapse list-unstyled ps-3" id="vendorSubmenu">
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Vendor" asp-action="VendorCategoryList">
                                        <i class="bi bi-person-plus me-2"></i> Vendor Category List
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Vendor" asp-action="VendorList">
                                        <i class="bi bi-pencil-square me-2"></i>  Vendor List
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Vendor" asp-action="PackageList">
                                        <i class="bi bi-pencil-square me-2"></i> Package List
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ManageUsers">
                                <i class="bi bi-people me-2"></i> Manage Users
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="VendorReviews" asp-action="Index">
                                <i class="bi bi-box me-2"></i> Vendor Reviews
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">
                                <i class="bi bi-person me-2"></i> Customers
                            </a>
                        </li>
                        
                    </ul>
                    <hr>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong class="ms-2">@User.Identity?.Name</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-10 p-3">
                @RenderBody()
            </div>
        </div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>