
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["Title"] = "Dashboard";
}
@model List<Wedding>
<div class="container-fluid">
    <h1>Dashboard</h1>
    <div class="row">
        @if (Model.Count > 0)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Weddings</h3>
                    </div>
                    <div class="card-body">
                        <p>View your weddings</p>
                        <a asp-action="Index" asp-controller="Weddings" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Guests</h3>
                </div>
                <div class="card-body">
                    <p>View your guests</p>
                    <a asp-action="Index" asp-controller="Guests" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Planners</h3>
                </div>
                <div class="card-body">
                    <p>View your planners</p>
                    <a asp-action="Index" asp-controller="Planners" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
</div>

