@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-container d-grid justify-content-center align-content-center align-items-center">
    <div class="px-3">
        <h1 class="text-xxl-center">Dream Day</h1>
        <p class="lead">Online platfrom plan your wedding</p>
    </div>
</div>
