body {
    overflow-x: hidden;
}

.sidebar {
    min-height: 100vh;
    background-color: #232527;
}
.sidebar .nav-link {
    color: #fff;
    border-radius: 8px;
}

.sidebar .nav-link:hover {
    background-color: #3b3a3a6e;
}

.sidebar .nav-link.active {
    font-weight: bold;
    background-color: #3a3a3b;
}

.vender-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 350px;
}
